<!DOCTYPE html>
<html lang="en">

<head>

    <!-- <meta>标签只能在<head>标签里 -->

    <!-- 用于提供有关页面的元信息 -->
    <!-- 比如针对搜索引擎和更新频率的描述和关键词 -->
    <!-- charset 属性规定在外部脚本文件中使用的字符编码。 -->
    <!-- UTF-8可以理解为想要把全世界的语言纳入同一个编码。 -->
    <meta charset="UTF-8">

    <!-- name加content的配合用于给页面提供一些描述 -->
    <meta name="author" content="haoduoroubaozi.com">
    <meta name="revised" content="Tong Siwei,08/02/2016">
    <meta name="keywords" content="HTML, DHTML, CSS, XML, XHTML, JavaScript, VBScript">

    <!-- http-equiv属性可用于模拟一个HTTP响应头 -->
    <!-- <meta http-equiv="content-type|default-style|refresh">有三个属性值 -->
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><!-- Content-type 表示规定文档的字符编码 -->
    <meta http-equiv="default-style" content="the document's preferred stylesheet"><!-- 规定要使用的预定义的样式表，content必须匹配一个link元素上的title值 -->
    <meta http-equiv="Refresh" content="5;url=http://www.w3school.com.cn" /><!-- 规定文档自动刷新的时间，并且进行了重定向 -->
    <title>&lt;meta&gt;</title>
</head>

<body>
</body>

</html>
